* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Symbols Nerd Font Mono", "Recursive Mn Lnr St";
    font-size: 12px;
}

window#waybar {
    /* background-color: rgba(28, 2a, 2e, 0.5); */
    /* background-color: rgba(40, 42, 46, 0.5); */
    /* base00 */
    background-color: #070d0b;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* base05 */
    color: #cafbe9;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #b4b7b4;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    /* border: none; */
    /* border-radius: 0; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* base02 ? */
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    /* base02 ? */
    background-color: #2a3c35;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    /* base08 ? */
    background-color: #fee0dd;
}

#mode {
    /* ?? base0C */
    background-color: #9cfbfa;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-mediaplayer,
#tray,
#mode,
#idle_inhibitor,
#custom-dunst,
#mpd {
    padding: 0 10px;
    /* base05 ? */
    color: #cafbe9;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* base00 */
    background-color: #070d0b;
}

#temperature {
    /* base01 */
    background-color: #131e1a;
}

#temperature.critical {
    /* base08 / base12 ? */
    color: #fff0ee;
}

#battery {
    /* base00 */
    background-color: #070d0b;
}

#battery.charging, #battery.plugged, #battery.full {
    /* base0B / base14 */
    color: #dcffdc;
}

#battery.warning:not(.charging) {
    /* base09 / base13 */
    color: #fff3d4;
}

@keyframes blink {
    /* TODO */
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    /* TODO */
    background-color: #f53c3c;
    color: #cc6666;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.battery-20:not(.charging) {
    background-color: #f53c3c;
    color: #cc6666;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.battery-10:not(.charging) {
    background-color: #f53c3c;
    color: #cc6666;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.battery-0:not(.charging) {
    background-color: #f53c3c;
    color: #cc6666;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    /* base01 */
    background-color: #131e1a;
}

#bluetooth {
    /* base00 */
    background-color: #070d0b;
}

#network {
    /* base0B / base14 */
    color: #dcffdc;
}

#network.disabled {
    /* base09 / base13 */
    color: #fff3d4;
}

#network.disconnected {
    /* base08 / base12 */
    color: #fff0ee;
}

#network.linked {
    /* base0E / base17 */
    color: #f8f0ff;
}

#network.ether {
    /* base00  since bluetooth might be insvisible */
    background-color: #070d0b;
}

#network.wifi {
    /* base00 */
    background-color: #070d0b;
}

#pulseaudio {
    /* base01 */
    background-color: #131e1a;
}

#upower.mayfly {
    /* base01 */
    /* same as pulseaudio (displays battery of headphones) */
    background-color: #131e1a;
}

#upower.parakeet {
    /* base01 */
    /* same as pulseaudio (displays battery of headphones) */
    background-color: #131e1a;
}

/* #pulseaudio.bluetooth { */
/*     color: #b294bb; */
/* } */

#pulseaudio.muted {
    /* base0C / base15 */
    color: #cefffe;
}

#custom-dunst {
    /* base00 */
    background-color: #070d0b;
}

#custom-mediaplayer {
    /* base01 */
    background-color: #131e1a;
}

#tray {
    /* base00 */
    background-color: #070d0b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* base08 ? */
    background-color: #fee0dd;
}


label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#custom-media {
    /* base01 */
    background-color: #131e1a;
    color: #cafbe9;
    min-width: 100px;
}

#custom-media.custom-spotify {
    /* base01 */
    background-color: #131e1a;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
